footer.main-footer
    section.main-footer__contacts
        h2.main-footer__title Как нас найти?
        p.main-footer__contacts-address 
        |Барбершоп «Бородинский»<br>
        |Адрес: г. Санкт-Петербург, Б. Конюшенная, д. 19/8<br>
        |<a href="blank.html">Как нас найти?</a>
        |Телефон: <a href="tel:+78126660266">+7 (812) 666-02-66</a>
    section.main-footer__social
        h2.main-footer__title Наши социальные сети!
        b.main-footer__social-call Давайте дружить!
        ul.main-footer__social-list
            li.main-footer__social-item
                a(href="#").main-footer__social-link Вконтакте
            li.main-footer__social-item
                a(href="#").main-footer__social-link Фэйсбук
            li.main-footer__social-item
                a(href="#").main-footer__social-link Инстаграм
    p.main-footer__copyright Разработано: 
        a(href="https://htmlacademy.ru/").button.main-footer__button Academy
    