include ../logo/logo
include ../site-nav/site-nav
- var nav = [{url: '/blank.html', name: 'Информация'}, {url: 'blank.html', name: 'Новости'}, {url: 'price.html', name: 'Прайс-лист'}, {url: 'catalog.html', name: 'Магазин'}, {url: 'blank.html', name: 'Контакты'}];

header
  nav.main-nav
    +logo(path="/index.html", name='logo-big')
    +ul(nav)
    ul.user-nav
      li.user-nav__item
        a.user-nav__link(href="#") Вход