include ../icon/icon
  
mixin logo()
    -const path  = attributes.path
    -const name  = attributes.name

    if path
        a(href=path)
            +icon(name)
    else 
        a
            +icon(name)
