section.gallery
    h2.gallery__title Фотогалерея
    figure
        a(href="#")
            img(src="./img/gallery-img-1.png", alt="Интерьер барбершопа" width="286" height="164")
    button(type="button" disabled).button.gallery__button Назад
    button(type="button").button.gallery__button Вперед