extends common/layout

block content
  main
    h1 Барбершоп "Бородинский"

    include ../blocks/index/advantages/advantages
    include ../blocks/index/news/news
    include ../blocks/index/gallery/gallery
    include ../blocks/index/contacts/contacts
    include ../blocks/index/appointment/appointment
block modal
    include ../blocks/common/modal-login/modal-login
    include ../blocks/common/modal-maps/modal-maps