extends common/layout

block content
  main.main
    h2 Title
    hr
    p paragraph
    ul.items
      li.items__t
      li.items__t
      li.items__t
    h2.main__title Тестовый заголовок через pug 22
    img(src="./img/1.png", alt="amung us")
    svg
      use(xlink:href="img/sprite.svg#facebook-logo")
    