section.news
    h2.news__title Новости
    ul.news__list
        li.news__item
            p.news__description Нам наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки
            time.news__datatime(datetime="20202-01-11") 11 января
        li.news__item
            p.news__description В нашей команде пополнение, Борис «бритва» Стригунец, обладaтель множества титулов и наград пополнил наши стройные ряды
            time.news__datatime(datetime="20202-01-18") 18 января
    a.button.news__button(href="balnk.html") Все новости