section.contacts
    h2.contacts__title Контактная информация
    p.contacts__address 
        |Барбершоп «Бородинский»<br>
        |Адрес: г. Санкт-Петербург, Б. Конюшенная, д. 19/8<br>
        |Телефон: <a href="tel:+78126660266">+7 (812) 666-02-66</a>
    p.contacts__time
        |Время работы:<br>
        |Пн—Пт: с 10:00 до 22:00<br>
        |Сб—Вс: с 10:00 до 19:00 
    a(href="blank.html") Как проехать
    a(href="blank.html") Обратная связь
   
    